.opacity(@opacity) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

body {
    .c-blue {
        color: blue;
    }

    .c-gold {
        color: gold;
    }

    .c-green {
        color: green;
    }

    .c-red {
        color: red;
    }

    .fz-120 {
        font-size: 120px;
    }

    .h-120 {
        height: 120px;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .ml-1em {
        margin-left: 1em;
    }

    .mr-0 {
        margin-right: 0;
    }
    .mr-1em {
        margin-right: 1em;
    }


    .mt-0 {
        margin-top: 0;
    }

    .o-50pct {
        .opacity(0.5);
    }

    .pos-a {
        position: absolute;
    }

    .ta-c {
        text-align: center;
    }

    .w-3em {
        width: 3em;
    }
    .w-4em {
        width: 4em;
    }
    .w-120 {
        width: 120px;
    }
}
