.animation(@spec) {
    -webkit-animation: @spec;
    -moz-animation: @spec;
    animation: @spec;
}

.spin-4s {
    .animation(spin 4s linear infinite);
}
.spin-4-2s {
    .animation(spin 4.2s linear infinite);
}
.spin-4-4s {
    .animation(spin 4.4s linear infinite);
}
.spin-4-6s {
    .animation(spin 4.6s linear infinite);
}

@-moz-keyframes spin { 
    100% { 
        -moz-transform: rotate(360deg); 
    }
}

@-webkit-keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
    }
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}
